# END336 ÖDEV 03

# Kurallar 
### 1) Dosya adında OgrenciNo kısmında yazan bölüme öğrenci numaranızı yazınız. 
### 2) Notebook içerisindeki ilgili boşluklara kodlarınızı yazınız.  
### 3) Dosyayı sıkıştırarak sisteme yükleyiniz.   
### 4) Sisteme zamanında yüklenmeyen ve maille yollanan ödevler kabul edilmez.   
### 5) Ödev bireyseldir.

Öğrenci No:

Öğrenci Ad-Soyad:

In [2]:
import pandas as pd
import warnings
import numpy as np
from sklearn.datasets import fetch_openml
warnings.filterwarnings("ignore")

In [3]:
data = fetch_openml("anneal")
df = pd.DataFrame(data=data.data, columns=data.feature_names)
df.head()

,family,product-type,steel,carbon,hardness,temper_rolling,condition,formability,strength,non-ageing,...,jurofm,s,p,shape,thick,width,len,oil,bore,packing
0,NaN,C,A,8.0,0.0,NaN,S,NaN,0.0,NaN,...,NaN,NaN,NaN,COIL,0.700,610.0,0.0,NaN,0,NaN
1,NaN,C,R,0.0,0.0,NaN,S,2,0.0,NaN,...,NaN,NaN,NaN,COIL,3.200,610.0,0.0,NaN,0,NaN
2,NaN,C,R,0.0,0.0,NaN,S,2,0.0,NaN,...,NaN,NaN,NaN,SHEET,0.700,1300.0,762.0,NaN,0,NaN
3,NaN,C,A,0.0,60.0,T,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,COIL,2.801,385.1,0.0,NaN,0,NaN
4,NaN,C,A,0.0,60.0,T,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,SHEET,0.801,255.0,269.0,NaN,0,NaN

# Bölüm 1: 
### Aşağıda yer alan Yanıt bölümlerinde, verilen kodların kısaca ne amaçla kullanıldığını ve hangi görevi yerine getirdiğini yazarak açıklayınız.

In [4]:
# Soru 1 Aşağıdaki kodu çalıştırarak sonuçla birlikte kodu açıklayınız.
satir_sayisi, sutun_sayisi = df.shape
print(f"Satir ve Sütun sayıları sırasıyla {satir_sayisi} ve {sutun_sayisi}'dir")

Satir ve Sütun sayıları sırasıyla 898 ve 38'dir

Yanıt 1: ilk satırdaki df.shape yapısı, üzerinde çalışılan yapının kaç satır ve sütundan oluştuğunu gösteren bir tupple nesnesi döndürmesini
sağlar. Shape yapısının vermiş olduğu çıktıda ilk sayı satir sayisi, ikinci sayı satır sayısı oluğu için ikinci satırdaki print komutu da bu kapsamda düzenlenmiştir. Veri üzerinde yapaılacak bazı işlemlerde verinin satır ve sütun sayısı önem taşır ve kullanıcı bu sayılara erişmek amacıyla shape yapısını kullanır.

In [5]:
# Soru 2 Aşağıdaki kodu çalıştırarak sonuçla birlikte kodu açıklayınız.
numerik_sutunlar = df.select_dtypes(include="number").columns.to_list()
numerik_sutunlar

['carbon', 'hardness', 'strength', 'thick', 'width', 'len']

Yanıt 2: Datalar farklı tiplere sahip olabilir. Integer, float, string, list, tupple gibi. Üzerinde çalışılan dataframe için bazen filtreme
yapılması ve sadece istenen veri tipine sahip olan başlıkları seçmek önem taşır. Bu örnekte olduğu gibi kullanıcı sayısal değerlere sahip olan başlıkları almak istemiş ve bunun için de DATAFRAME İÇİN SÜTUNLARDA DATA TİPİ SAYISAL DEĞERLER OLAN SATIR BAŞLIKLARINI SELECT İLE FİLTRELEMİŞTİR. Kodun çıktısındaki 'carbon', 'hardness', 'strength', 'thick', 'width', 'len' satır başlıkları bu tanıma uyduğu için ortaya çıkmıştır.

In [6]:
# Soru 3 Aşağıdaki kodu çalıştırarak sonuçla birlikte kodu açıklayınız.
kategorik_sutunlar = df.select_dtypes(exclude="number").columns.to_list()
kategorik_sutunlar

['family',
 'product-type',
 'steel',
 'temper_rolling',
 'condition',
 'formability',
 'non-ageing',
 'surface-finish',
 'surface-quality',
 'enamelability',
 'bc',
 'bf',
 'bt',
 'bw%2Fme',
 'bl',
 'm',
 'chrom',
 'phos',
 'cbond',
 'marvi',
 'exptl',
 'ferro',
 'corr',
 'blue%2Fbright%2Fvarn%2Fclean',
 'lustre',
 'jurofm',
 's',
 'p',
 'shape',
 'oil',
 'bore',
 'packing']

Yanıt 3: Datalar farklı tiplere sahip olabilir. Integer, float, string, list, tupple gibi. Üzerinde çalışılan dataframe için bazen filtreme
yapılması ve sadece istenen veri tipine sahip olan başlıkları seçmek önem taşır. Bu örnekte olduğu gibi kullanıcı harfsel(kategorik-sayısal olmayan) değerlere sahip olan başlıkları almak istemiş ve bunun için de DATAFRAME İÇİN SÜTUNLARDA DATA TİPİ SAYISAL DEĞERLER OLMAYAN(İÇERMEYEN) SATIR BAŞLIKLARINI EXCLUDE İLE FİLTRELEMİŞTİR. Kodun çıktısındaki satır başlıkları ise bu tanıma uyduğu için ortaya çıkmıştır.

In [7]:
# Soru 4 Aşağıdaki kodu çalıştırarak sonuçla birlikte kodu açıklayınız.
df["steel"].value_counts().to_frame()

   steel
A    440
R    256
K     51
M     20
W     19
V     16
S     10
U      0

Yanıt 4: Bazen üzerinde çalışılan dataframe için herhangi bir sütundaki her bir verinin kaç adet olduğu bilgisini öğrenmek önem taşır. Kullanıcı bu kod ile DATAFRAME'İN "STEEL" BAŞLIĞINDAKİ SÜTUNUNDA BULUNAN ELEMANLARININ(DEĞERLERİNİN) SAYILMASINI VE EN ÇOK BULUNANDAN EN AZ BULUNANA DOĞRU gösterilmesini sağlamıştır. Kodun çıktısında da bu tanıma uygun olarak hangi harfin ilgili sütunda kaç adet bulunduğu bilgisi gösterilmektedir.

In [8]:
# Soru 5 Aşağıdaki kodu çalıştırarak sonuçla birlikte kodu açıklayınız.
df["steel"].nunique()

7

Yanıt 5: Dataframedeki "STEEL" ile adlandırılmış sütun içindeki değerlerin kaç tanesinin birden fazla olarak bulunduğunu bulmak için NUMBER OF UNIQUE komutu kullanılmıştır. Çıktının 7 olmasının nedeni ise A-R-K-M-W-V-S değerlerinin bu tanıma uygun olmasıdır. (NUMBER OF UNIQUE komutunu sadece kategorik değişkenler için uygulamak gerekir.)

# Bölüm 2: 
## Aşağıdaki soruların altına (aynı hücre içerisinde) kodlarınızı yazıp çalıştırınız.

In [17]:
# Soru 6: Kategorik sütunların her birinde kaç adet kayıp veri/değer (missing value) olduğunu dataframe tipinde elde ediniz. 
yeni=(df.select_dtypes(exclude="number").isnull().sum()).to_frame()
print(yeni)

                                0
family                        772
product-type                    0
steel                          86
temper_rolling                761
condition                     303
formability                   318
non-ageing                    793
surface-finish                889
surface-quality               244
enamelability                 882
bc                            897
bf                            769
bt                            824
bw%2Fme                       687
bl                            749
m                             898
chrom                         872
phos                          891
cbond                         824
marvi                         898
exptl                         896
ferro                         868
corr                          898
blue%2Fbright%2Fvarn%2Fclean  892
lustre                        847
jurofm                        898
s                             898
p                             898
shape                           0
oil                           834
bore                            0
packing                       889

In [33]:
# Soru 7: steel sütununda en fazla tekrar eden (mode) değeri en_cok_tekrar_eden isimli degiskene atayınız. (ipucu: series yerine str tipinde olduğundan emin olunmalıdır)
en_cok_tekrar_eden=df['steel'].mode()
print(en_cok_tekrar_eden)

0    A
Name: steel, dtype: category
Categories (8, object): ['R', 'A', 'U', 'K', 'M', 'S', 'W', 'V']

In [30]:
# Soru 8: steel sütunundaki kayıp değerler (missing values) yerine ilgili sütunun en çok tekrar eden değerini atayınız. (ipucu: fillna inplace parametresi)
df["steel"].fillna(df['steel'].mode())

0      A
1      R
2      R
3      A
4      A
      ..
893    R
894    R
895    V
896    A
897    A
Name: steel, Length: 898, dtype: category
Categories (8, object): ['R', 'A', 'U', 'K', 'M', 'S', 'W', 'V']

In [19]:
# Soru 9: Çelik tipine göre ortalama kalınlık değerlerini dataframe tipinde döndüren kodu yazınız. 
# (ipucu: groupby kullanınız, çelik tipi "steel", kalınlık ise "thick" sütunlarında verilmiştir. )
result = df.groupby('steel')['thick'].mean().to_frame()
print(result)

          thick
steel
R      1.289805
A      1.079027
U           NaN
K      1.842157
M      1.319850
S      1.620000
W      1.857842
V      1.174813

In [8]:
# Soru 10: Dataframe'i her bir çelik tipi ve şekle göre gruplandırdıktan sonra çelik tipi "A" ve şekli "SHEET" olan verileri getiren kodu yazınız. 
# (ipucu: çelik tipi "steel" sütununda, çelik tipleri ise "shape" sütununda yer almaktadır)
gruplama = df.groupby(['steel','shape']).groups
print(gruplama['A','SHEET'])

Int64Index([  4,   9,  14,  15,  17,  18,  20,  26,  30,  32,
            ...
            857, 868, 869, 870, 872, 879, 884, 886, 889, 892],
           dtype='int64', length=232)